<br />
<br />
<div class="jumbotron-fluid">About</div>
<br /><br />

<div class="jumbotron">
    The Bookshelf works to connect readers with independent booksellers all over the world.
    ‍We believe local bookstores are essential community hubs that foster culture, curiosity, and a love of reading, and we're committed to helping them thrive.
    
    Every purchase on the site financially supports independent bookstores. Our platform gives independent bookstores tools to compete online and financial support to help them maintain their presence in local communities.
    
</div>