/* .col-lg-3 {
    background-image: url(logo.png);       
}  */
h1 {
    font-family: 'Turret Road', cursive;
    font-size: 70px;
    color: lightcoral;
}
h2 {
    color: black;
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    font-weight: 50;
    height: 68px;
}
.fluid {
    background-color: rgb(231, 193, 67);
    padding-top: 1px;
}