.jumbotron-fluid {
    font-family: 'Acme', sans-serif;   
    font-size: 40px;
      background-color: rgb(231, 193, 67);
      box-shadow: 2px 2px 6px rgb(180, 132, 207);
      font: outline;
      font-weight: 900;
      height: 100px;
      padding: 15px;
      color: black;
  }
  .jumbotron {
      
    text-align: center;
    margin: 10px
  
  }
  p {
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: black;
      font-weight: bold;
      
  }
  address{
    text-align: right;
  }
  .fa {
      padding: 10px 5px;
      font-size: 20px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin:  4px;
    }
    
  .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
  .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    .fa-youtube {
      background: #bb0000;
      color: white;
    }
    
    .fa-instagram {
      background: #125688;
      color: white;
    }