<br/>
<br/><br/><br/>
<div class="jumbotron-fluid ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reach Us</div>
<br/><br/><br/>
<div class="jumbotron text-center">
    <div>
        <address>
            <p> 1605, The Bookshelf, Andheri East</p>
            <p>
                +91-8888887777</p>
            <p>
                <p>
                    <a href="Mail:contactexample.com">contact&#64;example.com</a>
                </p>
        </address>
    </div>
    <div>
        <a href="#" class="fa fa-facebook">&nbsp; &nbsp;</a>
        <a href="#" class="fa fa-twitter">&nbsp;&nbsp;</a>
        <a href="#" class="fa fa-youtube">&nbsp;&nbsp;</a>
        <a href="#" class="fa fa-instagram">&nbsp;&nbsp;</a>
    </div>
</div>