.form-control {
    text-align: center;
	background: #c7e1e7;
    border: 1px;
    box-shadow: 4px 4px 7px rgb(189, 134, 221);
box-sizing: border-box;
    
}

.btn {
    width: 100px;
    font-weight: bold;
}

.btn:hover { background-color: black;
    color: aliceblue;
             
}

.jumbotron-fluid {
    text-align: center;
    font-family: 'Acme', sans-serif;    font-size: 30px;
    background-color: rgb(231, 193, 67);
    box-shadow: 2px 2px 6px rgb(180, 132, 207);
    font: outline;
    font-weight: 200;
    padding: 10px;
    color: black;
}

label {
    text-align: left;
}