<br/>
<br/><br/><br/>
<div class="col-lg-6 offset-lg-2">
    <h3>Add book</h3>
    <br/>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

<!--beginning of book id text box-->
<!-- <div class="form-group">
    <label for="bookId">Book Id: </label>
    <input type="number" class="form-control" formControlName="bookId" id="bookId">
    <div *ngIf="submitted && addForm.get('bookId')?.errors" class="error">
        <div class="text-danger" *ngIf="submitted && addForm.get('bookId')?.errors?.['required']">
            Book Id is required..
        </div>
    </div>
</div> -->
<!--end of  book id  text box-->


<!--beginning of book name text box-->
<div class="form-group">
    <label for="bookTitle">Book Name: </label>
    <input type="text" class="form-control" formControlName="bookTitle" id="bookTitle">
    <div *ngIf="submitted && addForm.get('bookTitle')?.errors" class="error">
        <div class="text-danger" *ngIf="submitted && addForm.get('bookTitle')?.errors?.['required']">
            Book Name is required..
        </div>
    </div>
</div>
<!--end of book name text box-->

<!--beginning of book Fees text box-->
<div class="form-group">
    <label for="bookPrice">Book Price: </label>
    <input type="string" class="form-control" formControlName="bookPrice" id="bookPrice">
    <div *ngIf="submitted && addForm.get('bookPrice')?.errors" class="error">
        <div class="text-danger" *ngIf="submitted && addForm.get('bookPrice')?.errors?.['required']">
            Book Price is required..
        </div>
    </div>
</div>
<!--end of book Fees text box-->

<!--beginning of book Fees text box-->
<div class="form-group">
    <label for="bookAuthor">Book Author: </label>
    <input type="string" class="form-control" formControlName="bookAuthor" id="bookAuthor">
    <div *ngIf="submitted && addForm.get('bookAuthor')?.errors" class="error">
        <div class="text-danger" *ngIf="submitted && addForm.get('bookAuthor')?.errors?.['required']">
            Book Author is required..
        </div>
    </div>
</div>
<!--end of book Fees text box-->

<br/>

<button class="btn btn-success">Save</button>
        &nbsp; &nbsp;
        <button class="btn btn-danger" type="reset">Reset</button>
        &nbsp; &nbsp;
        <a class="btn btn-warning" [routerLink]="['/list-book']">List</a>
        <br/>
        <br/>


    </form>
</div>